body{
  background-color: #1b242e
}
h1{
  font-size: 250%; font-family: serif;
  color: #6987a7
}
h2{
  font-family:serif;
  color: #6987a7
}
h3{
  font-size: 350%; font-family: serif;
  color: #6987a7
}
p{
  font-family: serif;
  color: #6987a7
}
