body{
  background-color: #2B2C3A;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 70px;
}

h1{
  font-size: 250%;
  color: #ffc68c;
}
h2{
  font-family:serif;
  color: #ffc68c;
}
h3{
  font-size: 350%;
  color: #ffc68c;
}
p{
  padding-right: 150px;
  color: #ffc68c;
  font-size: 125%;
}
footer{
  color: #ffc68c;
}
.navigation {
  background-color: #282837;
  height: 55px;
  width: 100%;
  text-align: center;
  font-size: 150%;
  padding-left: 10px;
  padding-top: 20px;
  position: fixed;
  margin-left: -20px;
  margin-top: -80px;
  border: 2px solid;
  color: #8B92DE;
}
.divFooter {
  background-color: #22232E;
  height: 55px;
  width: 100%;
  font-size: 150%;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: -20px;
  margin-bottom: -40px;
  border: 2px solid;
  text-align: center;
  color: #8B92DE;
}

/*links colors*/
a{
  color: #8B92DE;
  text-decoration: none;
}
a:hover {
  color: #545889;
  text-decoration: none;
}

hr{
  color: #545889;
  width: 100%;
}

.faqp{
  padding-left: 30px;
  font-size: 125%;
}

.htitle{
  text-align: center;
  font-size: 350%;
}

.h2title{
  text-align: center;
  font-size: 400%;
}

.ptitle{
  text-align: center;
  font-size: 150%;
  padding-left: 150px;
  padding-right: 150px;
}

ul{
  color: #2B2C3A
}



.popup{
  display: none;
  background-color: #404058;
}