body{
  background-color: #2B2C3A;
}

h1{
  font-size: 250%; font-family: serif;
  color: #FFD256
}
h2{
  font-family:serif;
  color: #FFD256
}
h3{
  font-size: 350%; font-family: serif;
  color: #FFD256
}
p{
  font-family: serif;
  color: #FFD256
}
footer{
  color: #FFD256
}
.ui {
  background-color: #22232E;
  height: 50px;
  width: auto;
  font-size: 150%;
  padding-top: 10px;
  padding-left: 10px;
  color: #8B92DE;
}
.divFooter {
  background-color: #22232E;
  height: 50px;
  width: auto;
  font-size: 150%;
  padding-top: 10px;
  padding-left: 10px;
  color: #8B92DE;
}

a{
  color: #8B92DE;
  text-decoration: none;
}
a:hover {
  color: #545889;
  text-decoration: none;
}
